/* ***** GLOBAL STYLES ***** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family:monospace;
    font-size: 16px;
}

:root{
    --starfleet-red: #a71313;
    --starfleet-blue: #2b53a7;
    --starfleet-yellow: #d6a444;
    --starfleet-grey: #4d4a5b;
    --background-clr-1: #Eeeeee;
}

.header-content{
    width: 100;
    height:auto;
}

.navbar{
    background-color: var(--starfleet-yellow);
    border-bottom: solid #4d4a5b 2px;
}

.navbar-brand{
    margin-left: 75px;

    img{
        height: 50px;
        width: auto;
    }
}

.middle-content{
    width: 100%;
    height: 100%;
    max-width: 1950px;
    background-color: var(--background-clr-1);
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.bios-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    img{
        width: 322px;
        height: 400px;
        margin: 15px;
        border: solid var(--starfleet-yellow) 5px;
        border-radius: 5px;
        box-shadow: 0px 0px 15px var(--starfleet-grey); 
    }

    img:hover{
        cursor:pointer;
        transition: all .4s ease-in-out;
        -webkit-filter: grayscale(100%) !important;
        filter: grayscale(100%) !important;
    }
}

.footer-content{
    background-color: var(--starfleet-yellow);
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: large;
    border-top: solid #4d4a5b 2px;
}

i{
    margin: 10px;
    font-size: 50px;

}

i:hover{
        cursor: pointer;
} 




/* ***** Stardate Calculator Styles ***** */

